<!DOCTYPE html>
<html lang="en">
<head>
    <title>Zendesk Carousel</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
</head>
<body>
    <div class="background">
        <div class="header">
            <div id="leftTitle"></div>
            <!--<div class="bar">|</div>-->
            <div id="middleTitle"></div>
            <!--<div class="bar">|</div>-->
            <div id="rightTitle"></div>

            <!--<div class="knowledgeBase">Knowledge Base </div>-->
            <!--<div class="bar">|</div>-->
            <!--<div class="community">Community </div>-->
            <!--<div class="bar">|</div>-->
            <!--<div class="customerPortal">Customer Portal </div>-->
        </div>

        <div class="mainArea">
            <div class="whiteSpace">
                <div class="introBuddhy"></div>
                    <img class="slider" id="imageActive"/>
            </div>
        </div>
        <div class="bottom">

            <div class="Buddhy">
              <div class="left" id="leftHand"></div>
              <div class="right" id="rightHand"></div>
            </div>

            <div class="cloudExplain" id="cloudexplain">
                <p>FLICK MY FINGERS TO NAVIGATE THE SLIDESHOW</p>
                <!--<p>Flick my fingers to navigate the slideshow</p>-->

            </div>
                <div class="cloudRight" id="cloud">
                    <h4 id="cloudTitle"></h4>
                        <p id="cloudDescription"></p>
                </div>
        </div>
    </div>

<script src="../../bower_components/jquery/dist/jquery.js"></script>
<script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="../scripts/carouselData.js"></script>
<script type="text/javascript" src="../scripts/main.js"></script>

</body>
</html>