<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zendesk Carousel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">

</head>
<body>
<div class="background">
    <div class="header">
        <div class="knowledgeBase">Knowledge Base </div>
        <div class="bar">|</div>
        <div class="community">Community </div>
        <div class="bar">|</div>
        <div class="customerPortal">Customer Portal </div>
    </div>

    <div class="mainArea">
        <div class="whiteSpace">
            <div class="firstSlide">


                <!--<div class="wrapper">-->
                    <!--<div class="profile">-->
                        <!--<table id= "userdata" border="2">-->
                            <!--<thead>-->
                            <!--<th>First Name</th>-->
                            <!--<th>Last Name</th>-->
                            <!--<th>Email Address</th>-->
                            <!--<th>City</th>-->
                            <!--</thead>-->
                            <!--<tbody>-->

                            <!--</tbody>-->
                        <!--</table>-->

                    <!--</div>-->
                <!--</div>-->


            </div>
        </div>
    </div>
    <div class="bottom">
        <div class=Buddhy></div>
        <!--<button type="button" class="btn btn-default">Left</button>-->
        <!--<button type="button" class="btn btn-default">Right</button>-->
        <div class="left"></div>
        <div class="leftFlick"></div>

        <div class="right"></div>
        <div class="rightFlick"></div>

    </div>
</div>



<!--<div id='carousel_container'>-->
    <!--<div id='left_scroll'><img src='left.png' /></div>-->
    <!--<div id='carousel_inner'>-->
        <!--<ul id='carousel_ul'>-->
            <!--<li><a href='#'><img src='item1.png' /></a></li>-->
            <!--<li><a href='#'><img src='item2.png' /></a></li>-->
            <!--<li><a href='#'><img src='item3.png' /></a></li>-->
            <!--<li><a href='#'><img src='item4.png' /></a></li>-->
            <!--<li><a href='#'><img src='item5.png' /></a></li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<div id='right_scroll'><img src='right.png' /></div>-->
<!--</div>-->





<!--<div class="red">RED</div>-->
<!--<button type="button" class="btn btn-default">Left</button>-->

<!--<a href="#" class="btn btn-success btn-large"><i class="icon-white icon-heart"></i> Bootstrap Button Generator</a>-->






<script src="../../bower_components/jquery/dist/jquery.js"></script>
<script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="../scripts/carouselData.js"></script>

<script type="text/javascript" src="../scripts/main.js"></script>

</body>
</html>