/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body{
    /*font-size: 2em;*/
}
.background{
    background-color: white;
    min-height: 100%;
    min-width: 1024px;
    color: #434343;
    width: 100%;
    height: auto;
    font-family: 'Source Sans Pro', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
}

.header{
    margin-left:auto;
    margin-right:auto;
    width:100%;
    text-align: center;
    height: 60px;
    line-height: 65px;


}
.right{
 cursor: pointer; cursor: hand;
}
.left{
    cursor: pointer; cursor: hand;
}

#leftTitle{
    opacity: 0;
}
#leftTitle.active {
    font-size: 1.4em;
    display: inline-block;
    color: #434343;
    margin-left: 1%;
    margin-right: 1%;
    opacity: 1;
    cursor: pointer; cursor: hand;
    position: relative;
    top: 0px;
    -webkit-animation: headerUp .1s;
    -moz-animation: headerUp .1s;



}
#middleTitle{
    opacity: 0;
}
#middleTitle.active {
    font-size: 2em;
    display: inline-block;
    color: #78A300;
    margin-left: 1%;
    margin-right: 1%;
    opacity: 1;
    position: relative;
    top: 0px;
    -webkit-animation: headerUp .1s;
    -moz-animation: headerUp .1s;

}

#rightTitle{
    opacity: 0;

    /*display: inline-block;*/
    /*color: #434343;*/
    /*width: 160px;*/
}
#rightTitle.active {
    font-size: 1.4em;
    display: inline-block;
    color: #434343;
    margin-left: 1%;
    margin-rightt: 1%;
    /*width: 160px;*/
    opacity: 1;
    position: relative;
    top: 0px;
    -moz-animation: headerUp;
    -webkit-animation: headerUp .1s;
    cursor: pointer; cursor: hand;

}

.mainArea{
    margin-left:auto;
    margin-right:auto;
    width:60%;
    text-align: center;
    height: 512px;
    border: solid 10px #78A300;

}
.whiteSpace{
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    height: 100%;
    width:100%;
    overflow: hidden;
}

#imageActive{
    opacity: 0;
}

#imageActive.activeR {
    position: relative;
    top: -290px;
    left: 0%;
    /*background-position: 0 0;*/
    height: 490px;
    opacity: 1;
    -webkit-animation: scrollIntoImage .15s linear;
    -moz-animation: scrollIntoImage .15s linear;

}
#imageActive.activeL {
    position: relative;
    top: -290px;
    left: 0%;
    /*background-position: 0 0;*/
    height: 490px;
    opacity: 1;
    -moz-animation: scrollOutImage .15s linear;
    -webkit-animation: scrollOutImage .15s linear;

}
.bottom{
    margin-top: 1%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.introBuddhy{
    background-image: url("../../images/Buddhysmaller.png");
    background-repeat: no-repeat;
    width: 470px;
    height: 284px;
    position: relative;
    top: 45%;
    left: 15%;
    /*-moz-animation-name: hidingBuddhy;*/
    -moz-animation: hidingBuddhy 3s;
    -moz-animation-fill-mode: forwards;
    -webkit-animation: hidingBuddhy 3s;
    -webkit-animation-fill-mode: forwards;

}
.Buddhy{

    background-image: url("../../images/BuddhysmallerEdit.png");
    background-repeat: no-repeat;
    width: 470px;
    height: 284px;
    position: fixed;
    bottom: -45px;
    margin-left: 11%;
    /*background-size:30%;*/
    -webkit-animation: peekingBuddhy 5s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: peekingBuddhy 5s;
    -moz-animation-fill-mode: forwards;

    /*animation-delay:2s;*/
    /*-webkit-animation-delay:2s;*/

}


.cloudRight{
    background-image: url("../../images/cloudoffrightTrans.png");
    background-repeat: no-repeat;
    width: 490px;
    height: 284px;
    position: absolute;
    display: none;
    -webkit-animation: floatingCloud 4s infinite linear;
    -moz-animation: floatingCloud 4s infinite linear;
    padding-top:75px ;

}
.cloudRight > h4 {
    margin-top: 2%;
    font-size: 1.4em;
}

.cloudRight > p {
    font-size: .9em;
    padding-left: 55px;
    padding-right: 55px;
    vertical-align: middle;
    height: 100px;
    display: table-cell;
}

.cloudExplain{
    background-image: url("../../images/cloudofftrail.png");
    background-repeat: no-repeat;
    width: 490px;
    height: 284px;
    position: fixed;
    top: 200px;
    left: 400px;
    opacity: 0;
    -webkit-animation: appearCloud, floatingCloud infinite;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay:5s;
    -Webkit-animation-duration: 2s;
    -moz-animation: appearCloud, floatingCloud infinite;
    -moz-animation-fill-mode: forwards;
    -moz-animation-delay:5s;
    -moz-animation-duration: 2s;
}

.cloudExplain > p {
    font-size: 1.4em;
    padding: 55px;
    vertical-align: middle;
    height: 307px;
    display: table-cell;
    color: #D8D8D8;
}


#leftHand{
    background-image: url("../../images/leftHand.png");
    background-repeat: no-repeat;
    width: 85px;
    height: 104px;
    position: absolute;
    top: 82px;
    left: 3px;
}
  #leftHand.flick {
    background-image: url("../../images/LeftFlick.png");
  }

#rightHand{
    background-image: url("../../images/rightHand.png");
    background-repeat: no-repeat;
    width: 80px;
    height: 89px;
    position: absolute;
    top: 83px;
    right: 6px;
}
  #rightHand.flick {
    background-image: url("../../images/rightFlick.png");
  }


/* Animation definitions Chrome
*/

@-webkit-keyframes scrollIntoImage{
    0%   {    bottom: 0%;
        left: 80%;}
    100% {    bottom: 0%;
        left: 0%;}
}
@-webkit-keyframes scrollOutImage{
    0%   {left: -80%;}
    100% {left: 0%;}
}
@-webkit-keyframes headerUp{
    0% { top: -50px;}
    100% {top: 0%;}
}
@-webkit-keyframes floatingCloud{
    0% { margin-left: .05%;}
    25% { margin-left: .15%;margin-top: -.15%;}
    50% { margin-left: -.15%;margin-top:.15%}
    75% {  margin-top: -.15%; }
    100% { margin-top: -.15;}
}
@-webkit-keyframes hidingBuddhy{
    0% {    top: 45%;}
    70% { top: 45%;}
    100% { top: 110%;}
}
@-webkit-keyframes hidingBuddhy{
    0% {    top: 45%;}
    70% { top: 45%;}
    100% { top: 110%;}
}

@-webkit-keyframes peekingBuddhy{
    0% {    bottom: -280px;}
    70% { bottom: -280px;}
    100% { bottom: -25px;}
}
@-webkit-keyframes peekingHandsR{
    0% {    bottom: -340px;;}
    70% { bottom: -340px;;}
    100% { bottom: -80px ;}
}
@-webkit-keyframes peekingHandsL{
    0% {    bottom: -350px;}
    70% { bottom: -350px;}
    100% { bottom: -94px;}
}
@-webkit-keyframes appearCloud{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

/*Moz animation definitions*/

@keyframes scrollIntoImage{
    0%   {    bottom: 0%;
        left: 80%;}
100% {    bottom: 0%;
    left: 0%;}
}
@keyframes scrollOutImage{
    0%   {left: -80%;}
    100% {left: 0%;}
}
@keyframes headerUp{
    0% { top: -50px;}
    100% {top: 0%;}
}
@keyframes floatingCloud{
    0% { margin-left: .05%;}
    25% { margin-left: .15%;margin-top: -.15%;}
    50% { margin-left: -.15%;margin-top:.15%}
    75% {  margin-top: -.15%; }
    100% { margin-top: -.15;}
}
@keyframes hidingBuddhy{
    0% {    top: 45%;}
    70% { top: 45%;}
    100% { top: 110%;}
}
@keyframes hidingBuddhy{
    0% {    top: 45%;}
    30% { top: 45%;}
    100% { top: 110%;}
}

@keyframes peekingBuddhy{
    0% {    bottom: -280px;}
    70% { bottom: -280px;}
    100% { bottom: -25px;}
}
@keyframes peekingHandsR{
    0% {    bottom: -340px;;}
    70% { bottom: -340px;;}
    100% { bottom: -80px ;}
}
@keyframes peekingHandsL{
    0% {    bottom: -350px;}
    70% { bottom: -350px;}
    100% { bottom: -94px;}
}
@keyframes appearCloud{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}


/*Ipad landscape*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    /* Styles */
    .mainArea{
        width:80%;
    }

    .introBuddhy{
        left: 19%;
    }

    #leftPlacement{
        margin-bottom: 16.5%;
    }

    #rightPlacement{
        margin-left: 48.5%;
        margin-bottom: 16.5%;
    }
    .rightFlick{
        margin-left: 48.5%;
    }

}
/*Ipad portrait*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

    .header{
        height: 100px;
        width:50%;
        margin-left: 10%;

    }
    .mainArea{
        margin-left:3%;
        width:70%;
        text-align: center;
        height: 512px;

    }
    #leftPlacement{
        margin-left: 8.5%;
        margin-bottom: 16.5%;
    }
    .leftFlick{
        margin-left: 11.4%;
        margin-bottom: 0%;
}
    #rightPlacement{
        margin-left: 61%;
        margin-bottom: 21.5%;
    }
    .rightFlick{
        margin-left: 61%;
        margin-bottom: 0%;
    }
    .cloudExplain{
         top: 400px;
        left: 300px;
    }
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : landscape) { /* STYLES GO HERE */

    .background{
        min-width: 321px;
    }
    .header{
        height: 30px;
        font-size: .5em;
        line-height: 30px;

    }
    .introBuddhy{
        background-size: 30%;

    }
    .Buddhy{
        background-size: 30%;
        height: 100px;
    }
    .mainArea{
        width:60%;
        text-align: center;
        height: 170px;
    }
    #rightPlacement{
        background-size: 30%;

        margin-left: 35%;
        margin-bottom: 8.8%;
    }
    .rightFlick{
        background-size: 30%;
        margin-left: 35%;
        margin-bottom: -125px;
    }
    #leftPlacement{
        background-size: 30%;

        margin-left: 11%;
        margin-bottom: 8.8%;
    }
    .leftFlick{
        background-size: 30%;

        margin-left: 11.4%;
        margin-bottom: -125px;
    }
    .cloudRight{
        background-size: 30%;
    }
    .cloudExplain{
        background-image: url("../../images/cloudofftrail.png");
        background-repeat: no-repeat;
        background-size: 60%;
        width: 320px;
        height: 100px;
        top: 110px;
        left: 150px;
    }
    .cloudExplain > p {
        top: -12px;
        left: -40px;
        position: absolute;
        font-size: .8em;
        height: 100px;
        width: 280px;
    }
    .cloudRight{

    }
    #imageActive.activeR {
        height: 160px;
    }
    #imageActive.activeL {
        height: 160px;
    }
}