body{
    font-size: 2em;
}
.background{
    background-color: white;
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

.header{
    margin-left:auto;
    margin-right:auto;
    width:100%;
    text-align: center;
    height: 60px;
    line-height: 70px;

}

.knowledgeBase{
    display: inline-block;
    color: #434343;
}
.bar{
    display: inline-block;
    color: #f0f0f0;

}
.community{
    display: inline-block;
    color: #434343;

}
.customerPortal{
    display: inline-block;
    color: #434343;

}
.mainArea{
    margin-left:auto;
    margin-right:auto;
    width:60%;
    text-align: center;
    height: 512px;
    border: solid 10px #78A300;
    /*background-color:gray;*/

;
}
.whiteSpace{
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    height: 90%;
    width:100%;
    display: inline-block;
    /*background-color:gray;*/

}
.firstSlide{
    background-image:url('http://www.zendesk.com/public/assets/images/p-helpcenter/screen-portal.png');
    background-repeat: no-repeat;
    /*background-size:90%;*/
    background-position: 45% 50%;
    height: 490px;
    /*display: inline-block;*/
}
.bottom{
    margin-top: 1%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.Buddhy{

    background-image: url("../../images/BuddhysmallerEdit.png");
    background-repeat: no-repeat;
    width: 470px;
    height: 284px;
    position: fixed;
    bottom: -25px;
    margin-left: 30%;
}

.left{
    background-image: url("../../images/leftHand.png");
    background-repeat: no-repeat;
    width: 470px;
    height: 284px;
    position: fixed;
    bottom: -108px;
    margin-left: 30.2%;
}
.leftFlick{
    background-image: url("../../images/LeftFlick.png");
    background-repeat: no-repeat;
    width: 470px;
    height: 284px;
    position: fixed;
    bottom: -108px;
    margin-left: 30.2%;
    display: none;

}
.right{
    background-image: url("../../images/rightHand.png");
    background-repeat: no-repeat;
    width: 470px;
    height: 284px;
    position: fixed;
    bottom: -108px;
    margin-left: 60%;
}
.rightFlick{
    background-image: url("../../images/rightFlick.png");
    background-repeat: no-repeat;
    width: 470px;
    height: 284px;
    position: fixed;
    bottom: -108px;
    margin-left: 60%;
    display: none;
}
















.red{
    color: red;
}

#carousel_inner {
    float:left; /* important for inline positioning */
    width:630px; /* important (this width = width of list item(including margin) * items shown */
    overflow: hidden;  /* important (hide the items outside the div) */
    /* non-important styling bellow */
    background: #F0F0F0;
}

#carousel_ul {
    position:relative;
    left:-210px; /* important (this should be negative number of list items width(including margin) */
    list-style-type: none; /* removing the default styling for unordered list items */
    margin: 0px;
    padding: 0px;
    width:9999px; /* important */
    /* non-important styling bellow */
    padding-bottom:10px;
}

#carousel_ul li{
    float: left; /* important for inline positioning of the list items */
    width:200px;  /* fixed width, important */
    /* just styling bellow*/
    padding:0px;
    height:110px;
    background: #000000;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:5px;
    margin-right:5px;
}

#carousel_ul li img {
.margin-bottom:-4px; /* IE is making a 4px gap bellow an image inside of an anchor (<a href...>) so this is to fix that*/
/* styling */
cursor:pointer;
cursor: hand;
border:0px;
}
#left_scroll, #right_scroll{
    float:left;
    height:130px;
    width:15px;
    background: #C0C0C0;
}
#left_scroll img, #right_scroll img{
    /*styling*/
    cursor: pointer;
    cursor: hand;
}