body{
    /*font-size: 2em;*/
}
.background{
    background-color: white;
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

.header{
    margin-left:auto;
    margin-right:auto;
    width:100%;
    text-align: center;
    height: 60px;
    line-height: 65px;


}
.right{
 cursor: pointer; cursor: hand;
}
.left{
    cursor: pointer; cursor: hand;
}

#leftTitle{
    opacity: 0;
    /*display: inline-block;*/
    /*color: #434343;*/
    /*width: 160px;*/
}
#leftTitle.active {
    font-size: 1.4em;
    display: inline-block;
    color: #434343;
    margin-left: 1%;
    margin-right: 1%;
    opacity: 1;
    cursor: pointer; cursor: hand;
    position: relative;
    top: 0px;
    -webkit-animation: headerUp .1s;
}
#middleTitle{
    opacity: 0;
}
#middleTitle.active {
    font-size: 2em;
    display: inline-block;
    color: #78A300;
    margin-left: 1%;
    margin-right: 1%;
    opacity: 1;
    position: relative;
    top: 0px;
    -webkit-animation: headerUp .1s;
}

#rightTitle{
    opacity: 0;

    /*display: inline-block;*/
    /*color: #434343;*/
    /*width: 160px;*/
}
#rightTitle.active {
    font-size: 1.4em;
    display: inline-block;
    color: #434343;
    margin-left: 1%;
    margin-rightt: 1%;
    /*width: 160px;*/
    opacity: 1;
    position: relative;
    top: 0px;
    -moz-animation: headerUp;
    -webkit-animation: headerUp .1s;
    cursor: pointer; cursor: hand;

}

.mainArea{
    margin-left:auto;
    margin-right:auto;
    width:60%;
    text-align: center;
    height: 512px;
    border: solid 10px #78A300;

    /*overflow: hidden;*/
    /*background-color:gray;*/

}
.whiteSpace{
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    height: 100%;
    width:100%;
    overflow: hidden;
    /*background-color:gray;*/
}

#imageActive{
    opacity: 0;
}

#imageActive.activeR {
    position: relative;
    top: -290px;
    left: 0%;
    /*background-position: 0 0;*/
    height: 490px;
    opacity: 1;
    -webkit-animation: scrollIntoImage .15s linear;

}
#imageActive.activeL {
    position: relative;
    top: -290px;
    left: 0%;
    /*background-position: 0 0;*/
    height: 490px;
    opacity: 1;
    -webkit-animation: scrollOutImage .15s linear;

}
.bottom{
    margin-top: 1%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
.introBuddhy{
    background-image: url("../../images/Buddhysmaller.png");
    background-repeat: no-repeat;
    width: 470px;
    height: 284px;
    position: relative;
    top: 45%;
    left: 15%;
    /*-moz-animation-name: hidingBuddhy;*/
    -webkit-animation: hidingBuddhy 4s;
    -webkit-animation-fill-mode: forwards;

}
.Buddhy{

    background-image: url("../../images/BuddhysmallerEdit.png");
    background-repeat: no-repeat;
    width: 470px;
    height: 284px;
    position: fixed;
    bottom: -45px;

    margin-left: 11%;
    -webkit-animation: peekingBuddhy 6s;
    -webkit-animation-fill-mode: forwards;

    /*animation-delay:2s;*/
    /*-webkit-animation-delay:2s;*/

}


.cloudRight{
    background-image: url("../../images/cloudoffrightTrans.png");
    background-repeat: no-repeat;
    width: 490px;
    height: 284px;
    position: absolute;
    display: none;
    -webkit-animation: floatingCloud 4s infinite linear;
    padding-top:75px ;

}

.cloudRight > p {
    font-size: 1em;
    padding-left: 55px;
    padding-right: 55px;
    vertical-align: middle;
    height: 107px;
    display: table-cell;
}

.cloudExplain{
    background-image: url("../../images/cloudofftrail.png");
    background-repeat: no-repeat;
    width: 490px;
    height: 284px;
    position: fixed;
    top: 200px;
    left: 400px;
    opacity: 0;
    -webkit-animation: appearCloud, floatingCloud infinite;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay:6s;
    -Webkit-animation-duration: 2s;
}

.cloudExplain > p {
    font-size: 1.7em;
    padding: 55px;
    vertical-align: middle;
    height: 307px;
    display: table-cell;
}


#leftPlacement{
    background-image: url("../../images/leftHand.png");
    background-repeat: no-repeat;
    width: 80px;
    height: 120px;
    position: fixed;
    bottom: -110px;
    margin-left: 11.25%;
    margin-bottom: 13%;
    -webkit-animation: peekingHands 6s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count:1;

}



.leftFlick{
    background-image: url("../../images/LeftFlick.png");
    background-repeat: no-repeat;
    width: 470px;
    height: 284px;
    position: fixed;
    bottom: -106px;
    /*margin-left: 31.25%;*/
    margin-left: 11.25%;
    display: none;

}

#rightPlacement{
    background-image: url("../../images/rightHand.png");
    background-repeat: no-repeat;
    width: 80px;
    height: 120px;
    position: fixed;
    bottom: -110px;
    margin-left: 41%;
    margin-bottom: 13%;
    -webkit-animation: peekingHands 6s;
    -webkit-animation-fill-mode: forwards;


}
.rightFlick{
    background-image: url("../../images/rightFlick.png");
    background-repeat: no-repeat;
    width: 470px;
    height: 284px;
    position: fixed;
    bottom: -109px;
    margin-left: 41%;
    display: none;


}

/* Animation dfinitions
*/
@-webkit-keyframes scrollIntoImage{
    0%   {    bottom: 0%;
        left: 80%;}
100% {    bottom: 0%;
    left: 0%;}
}
@-webkit-keyframes scrollOutImage{
    0%   {left: -80%;}
    100% {left: 0%;}
}
@-webkit-keyframes headerUp{
    0% { top: -50px;}
    100% {top: 0%;}
}
@-webkit-keyframes floatingCloud{
    0% { margin-left: .05%;}
    25% { margin-left: .15%;margin-top: -.15%;}
    50% { margin-left: -.15%;margin-top:.15%}
    75% {  margin-top: -.15%; }
    100% { margin-top: -.15;}
}
@-webkit-keyframes hidingBuddhy{
    0% {    top: 45%;}
    70% { top: 45%;}
    100% { top: 110%;}
}
@-webkit-keyframes hidingBuddhy{
    0% {    top: 45%;}
    70% { top: 45%;}
    100% { top: 110%;}
}

/*@keyframes hidingBuddhy{*/
    /*from {    top: 45%;}*/
    /*to { top: 110%;}*/
/*}*/

@-webkit-keyframes peekingBuddhy{
    0% {    bottom: -280px;}
    70% { bottom: -280px;}
    100% { bottom: -25px;}
}
@-webkit-keyframes peekingHands{
    0% {    bottom: -53%;}
    70% { bottom: -53%;}
    100% { bottom: -110px ;}
}
@-webkit-keyframes appearCloud{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}


/*Ipad*/
@media (max-width: 768px) {
    .introBuddhy{
        background-image: url("../../images/BuddhyIpad.png");
    }
    .Buddhy{

        background-image: url("../../images/BuddhysmallerEditIpad.png");
    }
}